$commonColor: #5EB2D9;

.gdeic-modal-select {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        width: 90%;
        height: 90%;
        -webkit-box-shadow: 5px 5px 20px #888888;
        -moz-box-shadow: 5px 5px 20px #888888;
        box-shadow: 5px 5px 20px #888888;
        overflow: auto;
        background-color: #FFFFFF;

        .gdeic-modal-select-header {
            padding: 10px 15px;
            background-color: $commonColor;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: #FFFFFF;
        }

        .gdeic-modal-select-filter {
            padding: 10px 15px 0;
        }

        .gdeic-modal-select-body {
            flex: 1;
            padding: 10px 15px;
            overflow-y: auto;
        }

        .gdeic-modal-select-footer {
            padding: 10px 15px;
            border-top: 1px solid #E5E5E5;
        }
    }